{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}



{% block stylesheets %} 
            {{ encore_entry_link_tags('produit') }}
{% endblock %}

{% block javascripts %}
            {{ encore_entry_script_tags('produit') }}   
{% endblock %}

{% block body %}

<div  id="produit">
</div>

{% endblock %}
